/* slide animation */

.sliding-enter-active {
    animation: acrossIn 0.5s ease both;
} 
.sliding-leave-active {
    animation: acrossOut 0.2s ease both;
} 
.sliding-reverse-enter-active {
    animation: acrossReverseIn 0.5s ease both;
}
.sliding-reverse-leave-active {
    animation: acrossReverseOut 0.2s ease both;
}

@keyframes acrossIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes acrossOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes acrossReverseIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes acrossReverseOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
main {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
        ), url("/pages_background.jpg");
    background-attachment: fixed !important;
    background-size: cover !important;
    /* background-position: 0% 0% !important; */
    /* background-repeat: no-repeat; */
    /* background-size: cover !important; */
    min-height: 100vh;
}
html {
    -ms-overflow-style: none;  
    overflow: -moz-scrollbars-none;
    scrollbar-width: none
}
    html::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'WorldFair';
    src: url('./fonts/WorldFair/WorldFair.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
